<a href="https://colab.research.google.com/github/GeetanjaliRayapureddy/CODES/blob/main/PYTHON_CODES_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OPERATIONBINARYSTRING**

In [ ]:
def OperationBinaryString(str):
    ans=ord(str[0])-ord('0')
    for i in range(1,len(str)-1,2):
        j=i+1
        if(str[i]=='A'):
            ans=ans & (ord(str[j])-ord('0'))
        elif(str[i]=='B'):
            ans=ans | (ord(str[j])-ord('0'))
        elif(str[i]=='C'):
            ans=ans ^ (ord(str[j])-ord('0'))
    return ans
str=input()
print(OperationBinaryString(str))

1C1C1B0
1

**STRING FLOAT AVERAGE**

In [ ]:
def Average(s):
  n=len(s)
  sum=0
  for i in s:
    sum=sum+ord(i)
  avg=sum/n
  return avg
s=input()
temp=Average(s)
rounded_number=format(temp,".2f")
print(rounded_number)

ABC
66.00

**CONVERT TO PALINDROME(appending max character to become palindrome)**

In [ ]:
def ConvertToPalindrome(l):
  le=len(l)
  for i in range(le):
    le=len(l)
    if l[i]!=l[le-i-1]:
      l.insert(le-1,l[i])
    else:
      break
    s="".join(l)
    if s==s[::-1]:
      s==s.replace(s1,"")
    return s
s1=input().strip()
l=list(s1)
print(ConvertToPalindrome(l))

abcdab
abcdaab

**given a array based on n and return the sum of the greatest leader**

In [ ]:
def sumOfLeaders(arr,n):
    sum=0
    for i in range(n-1):
        flag=1
        for j in range(i,n):
            if(arr[j]>arr[i]):
                flag=0
                break
        if(flag==1):
            sum+=arr[i]
    sum=sum+arr[n-1]
    return sum
n=int(input())
arr=list(map(int,input().split()))
print(sumOfLeaders(arr,n))

5
10 5 20 25 30
30

**GOOD NUMBER COUNT**

In [ ]:
def isCubicSumExist(N,A):
    count = 0
    for n in A:
        lo = 1
        hi = round(pow(n,1/3))
        while lo <= hi:
            z = lo*lo*lo + hi*hi*hi
            if z==n:
                count += 1
                break
            elif z>n:
                hi -= 1
            else:
                lo += 1
    return count
N = int(input())
A = list(map(int, input().split()))
print(isCubicSumExist(N,A))

3
35 9 1
2

**RETURN THR MISSING ALPHABET FROM THE GIVEN STRING**

In [ ]:
def smallest_character(s):
    for c in 'abcdefghijklmnopqrstuvwxyz':
        if c not in s:
            return c
s = input()
print(smallest_character(s))

acd
b

**PRINT THE ELEMENT FROM THE GIVEN ARRAY**

In [ ]:
def maxIndexElement(n,are):
    max=-999
    for i in range (0,n):
        if(max<arr[i]):
            max=arr[i]
            index=i
    print(max)
    print(index)
n=int(input())
arr=list(map(int,input().strip().split()))
print(maxIndexElement(n,arr))

3
7 89 75
89
1
None

**FINDING THE GIVEN NUMBER INDEX IN THE LIST**

In [ ]:

n=list(map(int,input().split()))
b=max(n)
print(b)
c=n.index(b)
print(c)

5 78 89
89
2

**MIN MAX IN TWO ARRAYS:**
int MinMaxInTwo Arrays(int arr1[],int arr2[],in len1,int len2,int k);

In [ ]:
def minMax(a1,a2,k):
  mini=99999
  maxi=-9999
  count1=0
  count2=0
  l1=len(a1)
  l2=len(a2)
  for i in range(l1):
      if(a1[i]>k):
          count1=count1+1
  for j in range(l2):
      if(a2[j]<k):
          count2=count2+1
  return max(count1,count2)
a1=list(map(int,input().strip().split()))
a2=list(map(int,input().strip().split()))
k=int(input())
print(minMax(a1,a2,k))

9 34 5 7
14 5 7 810
9
2

**ABSOLUTE DIFFERENCE:**
the function accept an integer 'arr' ,its length and two integer variables '

In [ ]:
def FindCount(arr,num,diff):
    Count=0
    length=len(arr)
    for i in range(length):
        if arr[i]-num<=diff:
            Count+=1
    return Count
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(FindCount(arr,num,diff))

3 45 62 22
3
2
1

**NUMEROLOGICAL REDUCTION**

In [ ]:
def digital_root(n):
    if n == 0:
        return 0
    if n % 9 == 0:
        return 9
    else:
        return n % 9
n = int(input())
print(digital_root(n))

3245
5

**ADDING THE VALUE IN THE PARTICULAR INDEX VALUE**

In [ ]:
my_arr=[1,2,3,4,5]
my_arr.insert(2,10)
print(my_arr)

[1, 2, 10, 3, 4, 5]

**ADDING THE DIVEN VALUE IN THE SPECIFIC INDEX**

In [ ]:
arr=[1,2,3,4,5]
index=2
for i in range(len(arr)):
    if i==index:
        print(10,end=" ")
        print(arr[i],end=" ")
    else:
        print(arr[i],end=" ")

1 2 10 3 4 5

**PALINDROME**

In [ ]:
s=input()
if s==s[::-1]:
    print("Palindrome")
else:
    print("Not palindrome")

malayalam
Palindrome

**TAKING ARRAY AND K VALUE AND PRINTING THE NUMBER WHICH IS EQUALS TO K**

In [ ]:
arr=list(map(int,input().split()))
k=int(input())
n=len(arr)
for i in range(n-1):
    for j in range(i+1,n):
        if arr[i]+arr[j]==k:
            print(arr[i],arr[j])
            break

3 4 5 6 7 8 9
9
3 6
4 5

  **>>>>>>MORNING CLASSES<<<<<<<**

**1.AUTOMORPIC NUMER OR NOT**

In [ ]:
n=int(input())
m=n*n
num=m%10
if num==n:
  print("Automorpic Number")
else:
  print("Not Automorpic Number")

5
Automorpic Number

**2.ABUNDENT NUMBER OR NOT:**It means the given the n,sum,and we will check the n%i==0 then we need to sum+i,and the sum will increment from the range(1 to 12).

we will get the sum value after doing all the iterations.

the the sum must be greater than  the given n,then the number is ABUNDENT NUMBER.

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum>n:
    print("Abundant Number")
else:
  print("Not Abundent Number")

12
Abundant Number

**3.HARSHAD NUMBER:** it means the given number is 21 .

then we need to add this 2+1=3.

then we need to check wether the given number(21)is divisible by 3.

In [ ]:
n=int(input())
sum=0
rem=n%10
while (rem>0):
  sum=sum+rem
  n=n//10
  rem=n%10
if n%sum==0:
    print("Harshad Number")
else:
  print("Not Harshad Number")

45
Harshad Number

**4.PERFECT NUMBER:**if the sum is equals to the given number

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum==n:
    print("Perfect Number")
else:
  print("Not Perfect Number")

28
Perfect Number

**5.FRIENDLY PAIR:**

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
  if n1%i==0:
    sum1=sum1+i
for j in range(1,n2):
  if n2%j==0:
    sum2=sum2+j
if sum1//n1==sum2//n2:
  print("Friendly Pair")
else:
  print("Not Friendly pair")

8
28
Not Friendly pair

**6.PERFECT SQUARE:** Example square root of 25=5 .

then we need to do the multiplication with the same 5 (eg.5*5=25) must come

In [ ]:
n=25
for i in range(1,n+1):
  if i*i==n:
      print("Perfect Square")
      break

Perfect Square